/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 10 version
*/

:root {
  --primary: #50a;
  --light: #867ae9;
  --white: #fff;
  --black: #000;
  --terminal: #222831;
}
::-moz-selection {
  background-color: var(--primary);
  color: var(--white);
}
::selection {
  background-color: var(--primary);
  color: var(--white);
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}
.cli {
  padding: 1.5rem 1rem;
  margin: 1.2rem 0;
  background-color: var(--terminal);
  color: var(--white);
  font-family: "JetBrains Mono", "Courier New", monospace;
  border-radius: 5px;
  width: 45%;
  font-size: 1.65rem;
}
.code {
  font-family: "JetBrains Mono", "Courier New", monospace;
  display: inline-block;
  background-color: #f1f1f1;
  padding: 2px 5px;
  border-radius: 4px;
  font-size: 1.5rem;
}
.header__content,
.about-author,
.other-project,
.contact,
.install-section,
.other-info {
  padding: 0 2rem;
  margin-top: 5rem;
}
.install-steps {
  margin: 0 4rem;
}
li {
  margin: 1.3rem 0;
}
.main-header {
  font-size: 8rem;
  padding: 2.5rem 0;
  color: var(--primary);
}
.main-header span {
  font-size: 2rem;
  font-style: italic;
  color: #888;
}
p,
li {
  font-size: 1.7rem;
  line-height: 1.85;
}
p {
  font-family: "Helvetica", "Arial", sans-serif;
  margin: 1.1rem 0;
}
.main-intro {
  margin: 1rem 0;
}
.heading {
  margin-top: 2.8rem;
  font-size: 2.8rem;
  padding-bottom: 1.2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.small-heading {
  font-size: 2.4rem;
  color: var(--terminal);
  margin: 2rem 0 1rem 0;
}
footer {
  margin-top: 3rem;
  background-color: var(--black);
  color: var(--white);
  padding: 3rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
a {
  color: var(--primary);
}
a:hover {
  color: var(--light);
}
.link {
  color: var(--white);
  text-decoration: none;
}
i {
  pointer-events: none;
}
.media-icon {
  color: var(--white);
  font-size: 2.2rem;
  margin: 0 1rem;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media only screen and (min-width: 93.75em) {
  html {
    font-size: 66%;
  }
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 72%;
  }
  .cli {
    width: 50%;
  }
}
@media only screen and (min-width: 131.25em) {
  html {
    font-size: 78%;
  }
  .cli {
    width: 55%;
  }
}
@media only screen and (min-width: 150em) {
  html {
    font-size: 84%;
  }
}
@media only screen and (min-width: 168.75em) {
  html {
    font-size: 90%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 60%;
  }
}
@media only screen and (max-width: 50em) {
  html {
    font-size: 54%;
  }
  .cli {
    width: 60%;
  }
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media only screen and (max-width: 37.5em) {
  html {
    font-size: 50%;
  }
  iframe {
    width: 280px;
    height: 157.5px;
  }
}
@media only screen and (max-width: 28.125em) {
  html {
    font-size: 45%;
  }
  .cli {
    width: 100%;
  }
}
@media only screen and (max-width: 18.75em) {
  html {
    font-size: 42%;
  }
  iframe {
    width: 240px;
    height: 130px;
  }
}
